#background{
	background-image: url(../images/frente.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: 1;
}

#overlay{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#nav .nav-list .nav-item a, #nav #brand a{
	display: flex;
	flex-direction: column;
	align-items: center; 
}

#nav{
	width: 80%;
	max-width: 200px;
	position: fixed;
	left: 0;
	height: 100vh;
	background-color: #333;
}

#nav #brand{
	display: flex;
	align-items: center; 
	background-color: #007bff;
	width: 100%;
	height: 88px;
}

#nav #brand a{
	color: #fff;
	font-size: 1.1rem;
	width: 100%;
}

#nav #brand a:hover{
	color: #333;
	text-decoration: none;
}

#nav .nav-list{
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav .nav-list .nav-item{
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 20px 0;
	border-bottom: 1px solid #3a3a3a;
	border-top: 1px solid #292929;
}

#nav .nav-list .nav-item:hover{
	background-color: #007bff;
}

#nav .nav-list .nav-item a{
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	width: 100%;
}

#nav .nav-list .nav-item i{
	font-size: 1.8rem;
	margin-bottom: 2px;
}

#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-left: 200px;
	height: 89px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 3px 10px #ccc;
	background-color: #e9ecef;
}

#header #data{
	font-weight: bold;
	margin-right: 5px;
}

#header .avatar a img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #b2b2b2;
	padding: 5px;
}

form .form-group .btn-color{
	color: #333 !important;
}

#login .row{
	opacity: 0;
	transition: opacity 2s;
	transition-delay: .5s;
}